language = "nodejs"

run = "npm run start"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Start app in dev mode"
mode = "sequential"
author = 10595772

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run compile"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start app in dev mode"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run compile && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
PORT = "5000"

[objectStorage]
defaultBucketID = "replit-objstore-e5fa64d7-61e4-45be-8eac-c91bbcca0be0"

[deployment]
build = ["sh", "-c", "npm run compile"]
deploymentTarget = "gce"
run = ["sh", "-c", "npm run start"]
publicDir = "dist"
