body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-bottom: 1px solid #7A7A7A;
  width: 90%;
}

td {
  padding-left: 4px;
  vertical-align: top;
}

td.value {
  font-size: 24px;
}