:root {
  --color-primary: #121212;
  --color-secondary: #333333;
  --color-highlight: #1e90ff;
  --color-accent: #b43cec;
  --text-color-primary: #fdfdfd;
  --text-color-secondary: #b4bbc3;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--color-primary);
  color: var(--text-color-primary);
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--color-secondary);
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  background: var(--color-primary);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 2px;
}

h1 {
  font-size: clamp(40px, 7vw, 75px);
  margin: 0px;
}
h2 {
  font-size: clamp(30px, 6vw, 55px);
  margin: 0px;
}
h3 {
  font-size: clamp(25px, 5vw, 40px);
  margin: 0px;
}
h4 {
  font-size: clamp(20px, 4vw, 30px);
  margin: 0px;
}
p {
  font-size: clamp(10px, 3vw, 20px);
}
a {
  text-decoration: none;
}

progress {
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
progress::-webkit-progress-bar {
  border-radius: 4px;
  background-color: var(--color-secondary);
}
progress::-webkit-progress-value {
  border-radius: 4px;
  background-color: var(--color-highlight);
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}
header img {
  width: 9vw;
  height: 9vw;
}
header h1 {
  margin-left: 3vw;
}

header .header-contact {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.header-contact li {
  padding: 4px;
  font-size: clamp(10px, 2vw, 15px);
}

.header-contact li:first-child {
  border-right: 1px solid var(--color-secondary);
}

.spacer {
  height: 10vh;
}

#wordle-stats {
  margin-left: 10vw;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
#wordle-stats article {
  width: 45%;
}
#wordle-stats article h4 {
  margin-top: 5px;
}
#wordle-stats article h4 span {
  color: #878787;
}
#wordle-stats article p {
  color: var(--text-color-secondary);
}

#info {
  margin-left: 10vw;
  margin-right: 10vw;
}
#info article {
  width: 100%;
}

#top-scorer {
  text-align: left;
}
#top-scorer h2 {
  overflow-wrap: break-word;
}
#top-scorer h4 {
  color: var(--color-accent);
}
#top-scorer ul li {
  list-style-type: square;
  color: var(--color-highlight);
}
#top-scorer ul li p {
  color: var(--text-color-primary);
}

#top-score-tweet {
  width: 60%;
  margin-left: 10px;
  color: var(--text-color-secondary);
}

#global-stats {
  text-align: right;
}
#global-stats h4 {
  color: var(--color-accent);
}

#wordle-list {
  margin-left: 10vw;
  width: 80vw;
}
#wordle-list p {
  width: 75%;
  color: var(--text-color-secondary);
}

#wordles {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.wordle {
  min-width: 18vw;
  border: 3px solid var(--color-secondary);
  border-radius: 7px;
  padding: 0px 10px;
  transition-duration: 0.5s;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.wordle:hover {
  background-color: var(--color-secondary);
}
.wordle-title {
  color: var(--text-color-primary);
  font-size: clamp(20px, 4vw, 30px);
  transition-duration: 0.4s;
}
.wordle-title:hover {
  color: var(--text-color-secondary);
}
.wordle-title span {
  font-size: clamp(30px, 6vw, 55px);
}
.mentioned {
  color: var(--color-highlight);
}

@media screen and (min-width: 850px) {
  #info {
    display: flex;
    justify-content: space-between;
  }
  #top-scorer {
    max-width: 55%;
  }
}