body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #0e0b16;
  color: #F0F0F0;
}

a {
  color: #00B7FF;
}

.stats {
 border-bottom: 1px solid #7A7A7A;
 width: 90%; 
 margin-bottom: 12px;
}

td, th {
  padding-left: 4px;
  padding-bottom: 4px;
  vertical-align: top;
  text-align: left;
}

td.value {
  font-size: 24px;
}

td.value-sm {
  font-size: 16px;
}

td:not(:last-child) {
  border-right: 1px solid #cccccc;
}

.highlight {
  background-color: #a239ca;
}

caption {
  font-style: italic;
  padding-top: 8px;
  padding-bottom: 4px;
}

.scores {
  width: 90%;
  margin-top: 12px;
}